@use '@styles/index' as *;

$breakpoint: (
    xs: (
        $breakpoint-min-xs, //min-width
        $breakpoint-max-xs, //max-width
        $padding-2xs, //padding
        .5rem , //gap
        $text-size-xs, //font-size
        $title-size-sm , //title-size
        $text-size-2xs //span,p-size
    ),
    sm: (
        $breakpoint-min-sm, 
        $breakpoint-max-sm, 
        $padding-2xs, 1rem, 
        $text-size-xs, 
        $title-size-sm,
        $text-size-2xs
    ),
    base: (
        $breakpoint-min-base, 
        $breakpoint-max-base, 
        $padding-2xs, 
        1.5rem, 
        $text-size-sm, 
        $title-size-sm,
        $text-size-xs
    ),
    md: (
        $breakpoint-min-md, 
        $breakpoint-max-md, 
        $padding-2xs, 1.5rem, 
        $text-size-sm, 
        $title-size-sm,
        $text-size-xs
    ),
);


.E_introduction{
    width: 100%; min-height: 100vh;
    overflow-y: auto;
    @include flex-center;
    flex-direction: column;

    //section
    section {
        width: 100%; height: auto;
        @include flex-center;
    }

    //header, footer
    header, footer {
        width: 100%; height: auto;
    }

    header {
        z-index: $z-index-header;
    }

    @media screen and (min-width: $breakpoint-md){
        .container {
            padding: 0 $padding-xl * 4;
            gap: 4rem;
        }

        h1 {
            font-size: $text-size-xl;
            font-weight: 700;
        }

        span {
            font-size: $text-size-xs;
            font-weight: 400;
            color: $color-text-gray;
        }

        .title {
            padding-bottom: $padding-md;
        }

        .item {
            line-height: 1.1;
            letter-spacing: -0.02rem;
        }

        .videoContainer {
            padding: $padding-md * 2 $padding-md * 4;
        }

        .buttonGroup1 {
            gap: 4rem;
            padding: $padding-md * 2 $padding-md * 2;

            button {
                padding: 0 $padding-md * 2 $padding-md;
            }

            a {
                font-size: $text-size-xl;
                font-weight: 300;
            }
        }

        .buttonGroup2 {
            gap: 2rem;
            padding: $padding-md * 2 $padding-md * 2;

            button {
                margin-left: 2rem;
                padding: 0 $padding-md * 2 $padding-md;
            }

            h1 {
                font-size: $text-size-xl;
                font-weight: 400;
            }

            svg {
                width: $text-size-xl; height: $text-size-xl;
            }

            p {
                font-size: $text-size-lg;
            }
        }

        .descriptionContainer {
            flex-direction: row;
            padding: $padding-md * 2 $padding-md * 4;
            gap: 4rem;

            .left {
                flex: 7;
            }

            .right {
                flex: 3;
                gap: 2rem;
            }
        }

        .introduction {
            gap: 2rem;

            h1 {
                font-size: $title-size-lg;
            }

            p {
                font-size: $text-size-lg;
                font-weight: 400;
                line-height: 1.5rem;
            }
        }

        .description {
            gap: 2rem;
        }

        .participation {
            gap: 2rem;
            padding: 0 $padding-md * 2 $padding-md * 2;
        }

        .people, .info {
            gap: 2rem;
            padding: 0 $padding-md * 2 $padding-md * 2;

            h1 {
                text-align: center;
                font-size: $title-size-lg;
            }

            .item {
                gap: 1rem;
                
                h2 {
                    font-size: $title-size-lg - 2px;
                }

                p {
                    font-size: $text-size-md;
                }
            }
        }
    }

    @each $breakpoint, $value in $breakpoint {
        $min: nth($value, 1);
        $max: nth($value, 2);
        $padding: nth($value, 3);
        $gap: nth($value, 4);
        $text-size: nth($value, 5);
        $title-size: nth($value, 6);
        $span-size: nth($value, 7);


        @media (min-width: $min) and (max-width: $max) {
            .container {
                padding: 0 $padding;
                gap: $gap * 2;
            }

            h1 {
                font-size: $title-size;
                font-weight: 400;
            }

            span {
                font-size: $span-size;
                font-weight: 300;
                color: $color-text-gray;
            }

            .title {
                padding: $padding * 2 $padding * 4;
                
                .item {
                    line-height: 1.1;
                    letter-spacing: -0.02rem;
                }
            }


            .videoContainer {
                padding: $padding * 2 $padding * 4;
            }

            .buttonGroup1 {
                gap: $gap * 2;
                padding: $padding * 2 $padding;

                button {
                    padding: $padding * 2 $padding;
                }

                a {
                    font-size: $text-size;
                    font-weight: 300;
                }
            }

            .buttonGroup2 {
                gap: $gap 1rem;
                padding: $padding * 2 $padding;

                button {
                    padding: $padding * 2 $padding * 2;
                }

                h1 {
                    font-size: $title-size;
                    font-weight: 400;
                }

                svg {
                    width: $title-size; height: $title-size;
                }

                p {
                    font-size: $text-size + 1px;
                }
            }

            .descriptionContainer {
                margin: $padding * 4 0;
                padding: $padding * 2 $padding * 4;
                flex-direction: column;
                gap: $gap * 2;
                    
                .right {
                    gap: $gap;
                }
            }

            .introduction {
                gap: $gap;
                border-bottom: 1px solid $color-text-gray;

                h1 {
                    margin-top: $padding * 2;
                    font-size: $title-size;
                }

                p {
                    font-size: $text-size + 2px;
                    line-height: 1.5rem;
                }
            }

            .description {
                gap: $gap;
            }

            .participation {
                gap: $gap;
                padding: 0 $padding $padding * 2;
            }

            .people, .info {
                padding: 0 $padding $padding * 2;
                line-height: 1.5rem;

                h1 {
                    font-size: $title-size;
                }

                h2 {
                    font-size: $title-size - 2px;
                }

                p {
                    font-size: $text-size;
                }

                .item {
                    gap: $gap - .2rem;
                }
            }
        }
    }

    .container {
        width: 100%; flex: 1;
        @include flex-center;
        flex-direction: column;
    }

    //HeroSection
    .title {
        width: 100%; height: auto;
        border-bottom: 1px solid $color-text-gray;
        @include flex-between; flex-direction: row;
    }
    
    .right{
        display: flex;
        align-items: flex-end; justify-content: flex-end;
    }

    .item {
        width: auto; height: 2rem;
        display: flex; align-items: flex-end;
        flex-direction: column; justify-content: center;
    }

    .buttonGroup1 {
        width: 100%; height: auto;
        @include flex-center; flex-direction: row;

        button {
            border-bottom: 1px solid $color-white;

            &:hover {
                scale: 1.05;
            }
        }
    }

    .buttonGroup2 {
        width: 100%; height: auto;
        @include flex-center; flex-direction: row;

        button {
            border-bottom: 1px solid $color-white;

            &:hover {
                scale: 1.05;
            }
        }
    }

    .descriptionContainer {
        width: 100%; height: auto;
        @include flex-between;
        border-top: 1px solid $color-text-gray;
        border-bottom: 1px solid $color-text-gray;
    }

    .introduction {
        width: 100%; height: auto;
        @include flex-center;
        flex-direction: column;
    }
    
    .description {
        display: flex; flex-direction: column;
    }

    .participation {
        width: 100%; height: auto;
        display: flex; flex-direction: row;
        align-items: baseline;
    }

    .people, .info {
        display: flex; flex-direction: column;

        h2 {
            color: $color-text-gray;
        }

        .item {
            width: 100%; height: auto;
        }
    }

    .videoContainer {
        width: 100%; height: auto;
        @include flex-center;
        aspect-ratio: 16 / 9;
        border-bottom: 1px solid $color-text-gray;
    }
    
}