@use '@styles/index' as *;

.E_introduction {
    width: 100%; min-height: 100vh;
    overflow-y: auto;
    @include flex-center;
    flex-direction: column;

    header, footer {
        width: 100%; height: auto;
    }

    header {
        z-index: $z-index-header;

        @media (min-width: $breakpoint-sm) {
            padding: 0 $padding-sm;
        }

        @media (min-width: $breakpoint-md) {
            padding: 0 $padding-md * 2;
        }
    }

    .container {
        width: 100%; flex: 1;
        @include flex-center;
        flex-direction: column;
        
        @media (min-width:$breakpoint-sm), (min-width:$breakpoint-xs), (min-width:$breakpoint-base) {
            padding: 0 $padding-lg;
            gap: 2rem;
        }

        @media (min-width:$breakpoint-md) {
            padding: 0 $padding-xl * 4;
            gap: 4rem;
        }
    }

    //HeroSection
    .title {
        width: 100%; height: auto;
        border-bottom: 1px solid $color-text-gray;
        @include flex-between;

        @media (min-width: $breakpoint-sm), (min-width: $breakpoint-xs), (min-width: $breakpoint-base) {
            padding-bottom:  $padding-md;
            gap: 2rem;
        }

        @media (min-width: $breakpoint-md) {
            padding-bottom:  $padding-md * 2;
            gap: 4rem;
        }

        .right {
            @media (min-width: $breakpoint-sm), (min-width: $breakpoint-xs), (min-width: $breakpoint-base) {
                display: flex; flex-direction: column; gap: .2rem;
                align-items: flex-end; justify-content: flex-end;
            }

            @media (min-width: $breakpoint-md) {
                display: flex; flex-direction: row; gap: 3rem;
                align-items: flex-end; justify-content: flex-end;
            }
        }

        .item {
            width: auto; height: 3rem;
            display: flex; align-items: flex-end;
            flex-direction: column; justify-content: center;

            h1 {
                font-weight: $text-weight-lg;
                letter-spacing: .1rem;

                @media (min-width:$breakpoint-sm), (min-width: $breakpoint-xs), (min-width: $breakpoint-base) {
                    font-size: $text-size-sm;
                }

                @media (min-width:$breakpoint-md) {
                    font-size: $text-size-xl;
                }
            }

            span {
                font-weight: $text-weight-sm;
                letter-spacing: .1rem;
                color: $color-text-gray;
                @media (min-width:$breakpoint-sm), (min-width: $breakpoint-xs), (min-width: $breakpoint-base) {
                    font-size: $text-size-2xs;
                }

                @media (min-width:$breakpoint-md) {
                    font-size: $text-size-sm;
                }
            }
        }
    }

    .videoContainer {
        width: 100%; height: auto;
        @include flex-center;
        aspect-ratio: 16 / 9;
        border-bottom: 1px solid $color-text-gray;

        @media (min-width: $breakpoint-sm), (min-width: $breakpoint-xs), (min-width: $breakpoint-base) {
            padding:  $padding-md $padding-sm;
        }

        @media (min-width: $breakpoint-md) {
            padding: $padding-md * 2 $padding-md * 2 ;
        }
    }

    .buttonGroup {
        width: 100%; height: auto;
        @include flex-center; 



        @media (min-width: $breakpoint-sm), (min-width: $breakpoint-xs), (min-width: $breakpoint-base) {
            gap: .5rem;
            padding: $padding-sm $padding-xs $padding-md;
            //border-bottom: 1px solid $color-text-gray;
            h1,p {
                font-size: $text-size-sm;
            }

            svg {
                width: .8rem; height: .8rem;
            }
        }

        @media (min-width: $breakpoint-md) {
            gap: 4rem;
            padding: $padding-md * 2 $padding-md * 2;
            border-bottom: 1px solid $color-text-gray;

            h1 {
                font-size: $text-size-xl;
            }

            svg {
                width: 1.5rem; height: 1.5rem;
            }
        }
    }

    .descriptionContainer {
        width: 100%; height: auto;
        @include flex-between;
        flex-direction: column;
        border-bottom: 1px solid $color-text-gray;

        @media (min-width: $breakpoint-sm), (min-width: $breakpoint-xs), (min-width: $breakpoint-base) {
            padding: $padding-md * 2 $padding-sm;
            flex-direction: column;
            gap: 2rem;
        }

        @media (min-width: $breakpoint-md) {
            padding: $padding-lg * 2 $padding-md * 2;
            flex-direction: row;
            gap: 4rem;

            .left {
                flex: 7;
            }

            .right {
                flex: 3;
            }
        }

        .introduction {
            width: 100%; height: auto;
            @include flex-center;
            flex-direction: column;

            @media (min-width: $breakpoint-sm), (min-width: $breakpoint-xs){
                gap: $padding-md;
                border-bottom: 1px solid $color-text-gray;

                h1 {
                    font-size: $text-size-lg;
                }

                .description {
                    display: flex; flex-direction: column;
                    font-size: $text-size-sm;
                    line-height: 1.5rem;

                    .korean {
                        gap: 1rem;
                    }

                    .english {
                        gap: .5rem;
                    }
                }
            }

            @media (min-width: $breakpoint-base) {
                gap: 2rem;
            }

            @media (min-width: $breakpoint-md) {
                gap: $padding-lg;
                border-bottom: none;

                h1 {
                    font-size: $title-size-lg;
                }

                .description {
                    display: flex; flex-direction: column;
                    font-size: $text-size-lg;
                    line-height: 2rem;

                    .korean {
                        gap: 1rem;
                    }

                    .english {
                        gap: 1rem;
                    }
                }
            }
        }

        .participation {
            width: 100%; height: auto;
            display: flex; flex-direction: row;
            align-items: baseline;

            @media (min-width: $breakpoint-sm) {
                padding: 0 $padding-md * 2 $padding-lg * 2;
                gap: $padding-md * 2;

                h1 {
                    font-size: $text-size-xl;
                }

                h2 {
                    font-size: $text-size-lg;
                }

                p {
                    font-size: $text-size-sm;
                }

                .people,.info {
                    display: flex; flex-direction: column;
                    gap: 1rem;
                }
            }

            @media (min-width: $breakpoint-md) {
                gap: $padding-lg * 2;

                h1 {
                    font-size: $title-size-lg;
                }

                h2 {
                    font-size: $text-size-xl;
                }

                p {
                    font-size: $text-size-md;
                }

                .people,.info {
                    display: flex; flex-direction: column;
                    gap: 2rem;
                }
            }

            .item {
                h2 {
                    color: $color-text-gray;
                }
            }
        }
    }

    //KakaoMap
    section {
        width: 100%; height: auto;
        @include flex-center;
    }

    .map {
        width: 100%; height: auto;
        @include flex-center;
        flex-direction: column;
        border-bottom: 1px solid $color-text-gray;

        @media (min-width: $breakpoint-sm) {
            padding: 0 $padding-lg $padding-md * 2;
            gap: $padding-lg;
        }

        @media (min-width: $breakpoint-md) {
            padding: 0 $padding-xl * 2 $padding-lg * 2;
            gap: $padding-xl * 2;
        }
        
        .info {
            width: 100%; height: auto;
            display: grid; grid-template-columns: 1fr 1fr;

            @media (min-width: $breakpoint-sm) {
                gap: 1rem;
            }

            @media (min-width: $breakpoint-md) {
                gap: 2rem;
            }

            .item {
                display: flex; align-items: center;

                @media (min-width: $breakpoint-sm) {
                    gap: 1rem;

                    svg {
                        width: 1.5rem; height: 1.5rem;
                    }

                    p {
                        font-size: $text-size-sm;
                    }
                }

                @media (min-width: $breakpoint-md) {
                    gap: 2rem;

                    svg {
                        width: 2rem; height: 2rem;
                    }

                    p {
                        font-size: $text-size-lg;
                    }
                }
            }
        }
    }
}

//GuestBook
.guestBook {
    height: auto;
    @include flex-center;
    flex-direction: column;

    @media (min-width: $breakpoint-sm) {
        width: 100%;
        padding: 0 $padding-sm;

        .title {
            gap: .5rem;

            h1 {
                font-size: $title-size-sm;
            }

            p {
                font-size: $text-size-md;
            }
        }

        .list {
            padding: $padding-md 0;
            gap: .5rem;
        }

        th,td {
            font-size: $text-size-sm;

            svg {
                width: 14px; height: 14px;
            }
        }

        .form {
            padding: $padding-lg 0;
        }
    }

    @media (min-width: $breakpoint-md) {
        width: 100%;
        padding: 0 $padding-xl * 2;

        .title {
            gap: 1rem;

            h1 {
                font-size: $title-size-lg;
            }

            p {
                font-size: $text-size-lg;
            }
        }

        .list {
            padding: $padding-lg 0;
            gap: 1rem;
        }

        th,td {
            font-size: $text-size-lg;

            svg {
                width: 16px; height: 16px;
            }
        }

        .form {
            padding: $padding-lg * 2 0;
        }
    }
    
    .title {
        width: 100%; height: auto;
        @include flex-center;
        flex-direction: column;

        p {
            color: $color-text-gray;
        }
    }

    .list {
        width: 100%; height: auto;
        @include flex-center; 
        flex-direction: column;
    }

    thead {
        width: 100%; height: auto;
        @include flex-center; 
        flex-direction: column;

        tr {
            width: 100%; height: auto;
            @include flex-center;

            th {
                flex: 2;
                border: 1px solid $color-text-gray;
                border-collapse: collapse;
                padding: .5rem;

                &:nth-child(2) {
                    flex: 6;
                }

                &:last-child {
                    flex: 1;
                }
            }
        }
    }

    tbody {
        width: 100%; height: auto;
        @include flex-center;
        flex-direction: column;

        tr {
            width: 100%; height: auto;
            @include flex-center;
            
            td {
                flex: 2;
                border: 1px solid $color-text-gray;
                border-collapse: collapse;
                padding: .5rem 1rem;

                &:nth-child(2) {
                    flex: 6;
                }

                &:last-child {
                    flex: 1;
                }
            }
        }
    }

    .form {
        width: 100%; height: auto;
        @include flex-center;
        flex-direction: column;
        gap: 1rem;
        border-bottom: 1px solid $color-text-gray;

        .form_input {
            width: 100%; height: auto;
            display: flex; flex-direction: row;
            gap: 1rem;
        }

        input {
            flex: 1;
            height: auto;
            border: 1px solid $color-text-gray;
            border-collapse: collapse;
            padding: .5rem 1rem;
            background-color: transparent;
            color: $color-white;
            font-size: $text-size-md;

            &::placeholder {
                color: $color-text-gray;
                font-size: $text-size-sm;
            }
            &:focus {
                outline:invert;
            }

            &:focus-visible {
                outline:invert;
            }            

            &:nth-child(2) {
                flex: 6;
                height: auto;
                border: 1px solid $color-text-gray;
                border-collapse: collapse;
                padding: .5rem 1rem;
                background-color: transparent;

                &:focus {
                    outline:invert;
                }
            }
        }

        button {
            width: 100%; height: auto;
            padding: .5rem 1rem;
            border: 1px solid $color-text-gray;
            border-radius: .5rem;
            color: $color-text-gray;
            font-size: $text-size-lg;
            font-weight: $text-weight-lg;
            cursor: pointer;

            &.active {
                scale: 1.05;

                &:hover {
                    scale: 1.05;
                    outline: invert;
                }
            }
        }
    }
}
