@use '@styles/index' as *;

.Senior {
    width: 100%; min-height: 100vh;
    overflow-y: auto;
    @include flex-center;
    flex-direction: column;

    header, footer {
        width: 100%; height: auto;
    }
    
    .container {
        width: 100%; flex: 1;
        @include flex-center;
        flex-direction: column;
    }

    .content {
        width: 100%; flex: 1;
        @include flex-center;
        flex-direction: column;

        &._2025 {
            @media (min-width:$breakpoint-md) {
                padding: $padding-md $padding-xl * 4;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));                gap: 2rem;
            }
        }
    }



    // 2024년 작품 카드
    .title {
        width: 100%; height: auto;
        @include flex-center;
    }

    .filter {
        width: 100%; height: auto;
        border-bottom: 1px solid #333;
    }
    
    @media (min-width:$breakpoint-sm) {
        h1 {
            font-size: $title-size-md;
        }
        
        p {
            font-size: $text-size-sm;
        }

        .container {
            gap: 1rem;
        }

        .filter {
            @include flex-center; flex-direction: row;
            gap: 1.5rem;
            padding-bottom: $padding-md;
        }

        .content {
            gap: 3rem;
        }
    }

    @media (min-width:$breakpoint-md) {
        h1 {
            font-size: $title-size-lg;
        }

        p {
            font-size: $text-size-md;
        }

        .container {
            gap: 2rem;
        }

        .filter {
            padding: 0 $padding-xl * 6 $padding-lg;
            display: flex; flex-direction: row;
            align-items: center; justify-content: flex-start;
            gap: 2rem;
        }

        .content {
            gap: 4rem;
        }
    }

    .SeniorCard {
        width: 100%; height: auto;
        display: flex;
        padding: 1em;
        gap: 1em;
        border-bottom: 1px solid #333;
        flex-wrap: wrap;

        @media (min-width:$breakpoint-sm) {
            padding: $padding-sm $padding-xl * 2 $padding-xl;
            gap: .5em;

            .image {
                width: 400px;
            }
        }

        @media (min-width:$breakpoint-md) {
            padding: $padding-md $padding-xl * 4 $padding-xl * 2;
            gap: 3em;

            .image {
                width: 300px;
            }
        }

        &._2025 {
            
            @media (min-width:$breakpoint-md) {
                box-shadow: 0 0 0 1px rgba(255,255,255,0.1),
                            0 0 0 2px rgba(255,255,255,0.05),
                            0 0 0 3px rgba(255,255,255,0.025),
                            0 0 0 4px rgba(255,255,255,0.01);
                width: 100%; height: auto;
                padding: $padding-xl $padding-xl;
                gap: 2rem;
            }
        }
    }

    .image {
        height: auto;
        object-fit: cover;
    }

    .info {
        flex: 1;
        max-width: 300px;
        
        @media (min-width:$breakpoint-sm) {
            padding: $padding-md $padding-sm;
            font-size: $text-size-sm;
            
            .category {
                font-size: $text-size-xs;
                color: #888;
            }
            
            .title {
                width: fit-content;
                font-size: $title-size-md;
                font-weight: bold;
            }
    
            .skillContainer {
                display: flex;
                flex-direction: row;

                @media (min-width:$breakpoint-sm) {
                    gap: .5em;
                }

                @media (min-width:$breakpoint-md) {
                    gap: 1em;
                }
                
    
                .skill {
                    width: fit-content;
                    border: 1px solid white;
                    padding: 0.2em 0.5em;
                    border-radius: $radius-sm;
                    font-size: $text-size-sm;
                }    

                &._2025 {

                    @media (min-width:$breakpoint-sm) {
                        gap: .5em;
                    }

                    @media (min-width:$breakpoint-md) {
                        gap: .5em;
                        text-wrap: nowrap;
                    }
                }
            }

            .team {
                font-size: $text-size-md;
            }

            .team,
            .date,
            .title,
            .skillContainer,
            .remaining {
                margin-top: 0.5em;
            }
        }

        @media (min-width:$breakpoint-md) {
            padding: $padding-lg $padding-md;
            gap: 2em;
            font-size: $text-size-md;

            .category {
                font-size: $text-size-md;
                color: #888;
            }
            
            .title {
                width: fit-content;
                font-size: $title-size-md;
                font-weight: bold;
            }

            .team {
                font-size: $text-size-lg;
            }
    
            .skillContainer {
                display: flex;
                flex-direction: row;
            }
    
            .skill {
                width: fit-content;
                border: 1px solid white;
                padding: 0.2em 0.5em;
                border-radius: $radius-sm;
                font-size: $text-size-sm;
            }
            
            .team,
            .title,
            .skillContainer,
            .date,
            .remaining {
                margin-top: .7em;
            }
        }
    }

    .introduction {

        max-width: 300px;

        @media (min-width:$breakpoint-sm) {
            padding: $padding-md $padding-sm 0;

            h3 {
                font-size: $text-size-lg;
                color: $color-text-gray;
                margin-bottom: .5rem;
            }
        }

        @media (min-width:$breakpoint-md) {
            flex: 1;
            padding: $padding-lg $padding-md;

            h3 {
                font-size: $text-size-xl;
                color: $color-text-gray;
                margin-bottom: 1rem;
            }
        }

        &._2025 {
            @media (min-width:$breakpoint-md) {
                h3 {
                    font-size: $text-size-lg;
                }
            }
        }
    }

    .descriptionBox {
        display: flex;

        li:nth-of-type(2),
        li:nth-of-type(4),
        li:nth-of-type(6) {
            list-style: disc;
        }

        @media (min-width:$breakpoint-sm) {
            padding: $padding-md $padding-sm;
            flex-direction: column;
            gap: 1em;

            .description {
                min-width: 300px;
                font-size: $text-size-sm;
                line-height: 1.7;

                h3 {
                    font-size: $text-size-lg;
                    color: $color-text-gray;
                    margin-bottom: .5rem;
                }
            }

            .more {
                font-size: $text-size-sm;
            }
        }

        @media (min-width:$breakpoint-md) {
            padding: $padding-lg;
            flex-direction: row;
            gap: 2em;
                
            .description {
                width: 600px;
                font-size: $text-size-md;
                line-height: 1.8;

                h3 {
                    font-size: $text-size-xl;
                    color: $color-text-gray;
                    margin-bottom: 1rem;
                }
            }

            .more {
                font-size: $text-size-md;
            }
        }

    
        .more {
            color: white;
            border: 1px solid white;
            border-radius: $radius-sm;
            padding: 0.3em 1em;
            cursor: pointer;
            background-color: transparent;
        }
    }

    .videoWrapper {
        margin-top: 1em;
        will-change: opacity, transform;

        @media (min-width:$breakpoint-sm) {
            width: 100%;
            min-height: 300px;
            height: auto;
        }

        @media (min-width:$breakpoint-md) {
            width: 100%;
            height: 100vh;
        }
    }

    .links {
        width: 100%; height: auto;
        margin-top: 1em; margin-bottom: 1em;

        button {
            width: 100%; height: auto;

            @media (min-width:$breakpoint-sm) {
                font-size: $text-size-sm;
            }

            @media (min-width:$breakpoint-md) {
                font-size: $text-size-md;
            }

            &:hover {
                scale: 1.05;
                color: $color-accent;
            }
        }
        

        &._2025 {
            @media (min-width:$breakpoint-md) {
                width: 100%; height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

