@use '@styles/index.scss' as *;

.button1 {
    width: 12rem; height: 3rem;
    background-color: transparent; color: inherit;
    font-size: $text-size-md; font-weight: 400;

    button {
        width: 100%; height: 100%;
    }

    &.active {
        color: $color-muted;
    }
}

.button2 {
    width: auto; height: auto;
    @include flex-center;
    border-bottom: 1px solid $color-white;
    background-color: transparent; color: inherit;

    @media (min-width:$breakpoint-xs), (min-width:$breakpoint-base), (min-width:$breakpoint-sm) {
        font-size: $text-size-xs;
        font-weight: 300;
        padding: .5rem .2rem;
    }

    @media (min-width:$breakpoint-md) {
        font-size: $text-size-md;
        font-weight: 400;
        padding: .5rem 1rem;
    }

    button {
        width: 100%; height: 100%;
    }

    &.active {
        color: $color-muted;
    }
}
